.btn{
    padding: 5px 20px 2px 20px;
    height: 18px;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 20px;
}
.btn-default:hover{
    color: rgb(84, 82, 183);
    border: 1px solid rgb(84, 82, 183);
    background-color: #fff;
}
.btn-default{
    background-color:rgb(84, 82, 183);
    color: white;
    border: 1px solid white;
}